{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1>{{ organization.name }}</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Workouts</h3>
            </div>
            <div class="card-body">
                {% for wod in wods %}
                <div class="card mb-2">
                    <div class="card-header">
                        Start at: {{ wod.startAt|date('Y/m/d H:i') }}
                    </div>
                    <div class="card-body">
                        {% if wod.name %}<b>{{ wod.name }}</b><br>{% endif %}
                        {{ wod.description|nl2br }}
                        <hr>
                        type: <b>{{ wod.timer }}</b>
                    </div>
                    <div class="card-footer text-right">
                        <a class="btn btn-primary" href="{{ path('app_default_wod', {'id':wod.id}) }}">Join</a>
                    </div>
                </div>

                {% else %}
                <p>There is no wods yet, create your first wod in the right side</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Create Workout</h3>
            </div>
            <div class="card-body">
                {% if organization.user == app.user %}
                {{ form_start(wod_form) }}
                {{ form_row(wod_form.name) }}
                <div class="form-group">
                    {{ form_label(wod_form.stream) }}
                    {{ form_widget(wod_form.stream) }}
                    <small class="text-muted">If you have a live stream, or a conference members can join, enter the link here.</small>
                </div>
                {{ form_row(wod_form.startAt) }}
                {{ form_row(wod_form.timer) }}
                {{ form_row(wod_form.description) }}
                <button class="btn btn-primary" type="submit">Create</button>
                {{ form_end(wod_form) }}

                {% else %}
                <p>At this time, only administrator can create workout, you can build your own workouts from the frontpage.</p>
                <a class="btn btn-primary" href="{{ path('homepage') }}">Go to frontpage</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
