{% extends 'base.html.twig' %}

{% block title %}Wod index{% endblock %}

{% block body %}
    <h1>Wod index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wod in wods %}
            <tr>
                <td>{{ wod.id }}</td>
                <td>{{ wod.name }}</td>
                <td>{{ wod.description }}</td>
                <td>{{ wod.createdAt ? wod.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ wod.updatedAt ? wod.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('wod_show', {'id': wod.id}) }}">show</a>
                    <a href="{{ path('wod_edit', {'id': wod.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wod_new') }}">Create new</a>
{% endblock %}
